{% extends 'website/base.html' %}
{% load static %}
{% block title %} Halisi Family Hospital {% endblock %}

{% block content %} 

    {% include 'website/main_header.html' %}

    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <h2>{{career.name}}</h2>
                    <div class="pt-3">
                        <h6 class="text-halisi">Requirements</h6>
                        <p>{{career.requirements | safe }}</p>
                    </div>
                    <div class="pt-3">
                        <h6 class="text-halisi">Guides</h6>
                        <p>{{career.summary | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-halisi-blue" aria-current="true">Our Services</li>
                        {% for service in services %}
                            <li class="list-group-item text-halisi"><a href="{% url 'website:service' service.id %}"><i class="bi bi-chevron-right"></i> {{service.name}}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

    

    {% include 'website/main_footer.html' %}
{% endblock %}